// List group

#li_select_theme {
  form::after {
    padding-top: 0.325rem;
    padding-left: calc(var(--bs-gutter-x) * .5);
    content: "rxAdmin / #{$color-scheme}"; // / Version: rxAdmin-#{$pma-theme-version}";
    color: #{$color-scheme}; // $pma-link-color;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
}
